/* GAMES HUB */

.glow 
{
	text-align: center;
	-webkit-animation: glow 5s ease-in-out infinite alternate;
	-moz-animation: glow 5s ease-in-out infinite alternate;
	animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow 
{
  from 
  {
    text-shadow: 0 0 2px #4c003a, 0 0 10px rgb(128, 128, 255), 0 0 15px #79003c, 0 0 20px #e60082, 0 0 25 #e60073, 0 0 30px #e60073, 0 0 35px #870044;
  }
  to 
  {
    text-shadow: 0 0 6px #860000, 0 0 15px #ab0056,  0 0 25px rgb(128, 128, 255), 0 0 30px rgb(128, 128, 255), 0 0 35px #009fbb, 0 0 40px #ff4da6;
  }
}

h2 { font-size: 30px; font-weight: 700; }
h3 { font-size: 22px; font-weight: 600; }
h4 { font-size: 16px; font-weight: 500; }
